<h1>EasyChamp <%= link_to 'Entrar',
            new_user_session_path,
            :class => 'btn btn-primary' %></h1>
<p>EasyChamp foi criado para facilitar a organização do seu campeonato.</p>
<p>Convide seus amigos e comece agora mesmo!</p>

<p>Se ainda não é cadastrado, <%= link_to 'cadastre-se',
            new_user_registration_path,
            :class => 'btn btn-danger' %> agora mesmo! </p>